/* 
    Created on : 2.10.2016, 11:35:31
    Author     : Miika
*/

tbody > tr:nth-child(1) {
    background-color: #9E9E9E;
}
tbody > tr:nth-child(even) {
    background-color: #E0E0E0;
}
th, td {
    border: 1px solid black;
}